<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><a routerLink="/" router>Home</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="about">About</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="basic">Basic</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="databibding">Data Binding</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="directives">Directives</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="componentsdeepdive">Components Deep Dive</a></li>
                <li role="presentation" routerLinkActive="active"><a [routerLink]="['service']">Service</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="navigation">Navigation</a></li>
            </ul>
        </div>
    </div>
</div>