  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyAdd =!onlyAdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyAdd">
          <li class="list-group-item" 
          *ngFor="let odd of oddNumberArray" 
          [ngClass]="{odd: odd % 2 !==0 }"
          [ngStyle]="{backgroundColor: odd % 2 !==0 ? 'yellow':'transparent'}">{{odd}}</li>
        </div>
        <div *ngIf="!onlyAdd">
          <li class="list-group-item" 
          *ngFor="let even of eventNumberArray" 
          [ngClass]="{even: even % 2 ==0 }"
          >{{even}}
          </li>
        </div>
      </ul>
      <pre appDynamicHeigthDirective>WE Losst</pre>
      <pre appDetterDynamicHeigthDirective>WE Losst Again</pre>
    </div>
  </div>
