<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Programming</h5>
          <p class="card-text">Object Oriented Programming</p>
          <a href="#" class="btn btn-primary">Learn</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Physics</h5>
          <p class="card-text">Going to moon too soon</p>
          <a href="#" class="btn btn-primary">Learn</a>
        </div>
      </div>
    </div>
  </div>
</div>
