<div class="row">
    <div class="col">
 <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" [(ngModel)]="emailInput" name="emailInput" class="form-control" id="exampleFormControlInput1" value="{{emailInput}}" placeholder="name@example.com">
<div class="alert alert-primary" role="alert">
  {{emailInput}}
</div>  
</div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
      <button type="button" (click)="enableMultipleChoiseFun()" class="btn btn-warning">Enable</button>
<br>
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select [disabled]="!enableMultipleChoise" multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3"></textarea>
  </div>
</form>
    </div>
   
</div>